<%= render(Ui::TwoColumnsLayoutComponent.new) do |layout| %>
  <%= layout.with_right do %>
    <div class="text-gray-700">
      <%= form_with model: @ap_object, url: panel_object_path(@ap_object), scope: :ap_object, data: { controller: 'media-uploader-form', nested_form_wrapper_selector_value: '.media-uploader-form-wrapper', action: 'media-uploader:uploaded->media-uploader-form#add' } do |f| %>
        <%= render(Ui::TopBarComponent.new) do |top_bar| %>
          <% top_bar.with_left do %>
            <%= f.text_field :name, class: 'text-xl' %>
          <% end %>

          <% top_bar.with_actions do %>
            <%= render(Ui::BtnComponent.new(type: :submit)) do %>
              Save
            <% end %>
          <% end %>
        <% end %>

        <div
          data-controller="editorjs"
          class="content"
        >
          <div data-editorjs-target="editor"></div>
          <%= f.hidden_field :content_raw, data: { editorjs_target: :input } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
