<%= render(Ui::TwoColumnsLayoutComponent.new) do |layout| %>
  <% layout.with_right do %>
    <% if @actor %>
      <div class="grid grid-cols-12 mt-6 mb-16 max-w-3xl mx-auto items-center">
        <div class="col-span-3 flex">
          <%= image_tag @actor.avatar_url, class: 'w-32 h-32 object-cover rounded-full justify-self' %>
        </div>

        <div class="col-span-9">
          <div class="flex gap-4 items-center">
            <h1 class="text-xl"><%= @actor.name %></h1>
            <%= render(Actors::FollowBtnComponent.new(actor: current_user.ap_object, target_actor: @actor)) %>
          </div>
          <p class="text-sm mt-4 text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae placeat vitae sunt quis beatae rem, nulla molestiae totam quisquam ullam consectetur esse aut cumque debitis ut, praesentium suscipit hic laudantium?</p>
        </div>
      </div>
    <% end %>

    <% if @objects.any? %>
      <% @objects.each do |obj| %>
        <%= render(Objects::WrapComponent.new(obj, current_ap_actor: current_user.activity_pub_object, liked_ap_object_ids: @liked_object_ids)) %>
      <% end %>
    <% else %>
      no objects
    <% end %>
  <% end %>
<% end %>
