<% if attachments.any? %>
  <div class="overflow-x-auto">
    <div class="flex min-w-max gap-4 mt-2">
      <% attachments.each do |att| %>
        <div class="bg-cover bg-center table-cell shrink-0 h-96" style="aspect-ratio:<%= att.width.to_f / att.height.to_f %>">
          <img src="<%= att.url %>" width="<%= att.width %>" height="<%= att.height %>" loading="lazy"/>
        </div>
      <% end %>
    </div>
  </div>

  <%= render(interactions_component) %>

  <% if excerpt&.presence %>
    <div class="text-gray-600 text-sm my-3 leading-relaxed [&_p]:mb-3">
      <%= excerpt %>
    </div>
  <% end %>
<% else %>
  <% if excerpt&.presence %>
    <div class="text-gray-600 text-sm my-3 leading-relaxed [&_p]:mb-3">
      <%= excerpt %>
    </div>
  <% end %>

  <%= render(interactions_component) %>
<% end %>
