<tr class="justify-content-center">
  <td>
    <%= link_to object.id, object_path(object), class: 'text-decoration-none font-monospace' %>
    <div class="text-muted small"><%= object.guid %></div>
  </td>
  <td><code><%= object.type %></code></td>
  <td><%= object.status %></td>
  <td><%= time_ago_in_words object.created_at %> ago</td>
  <td><%= time_ago_in_words object.last_synced_at %> ago</td>
</tr>
