<div class="row mb-5">
  <div class="col-12">
    <h1 class="mb-1"><%= @object.id %></h1>
    <h5 class="text-secondary"><%= @object.guid %></h5>
  </div>
</div>

<div class="row">
  <div class="col-7">
    <% if @object.error_message %>
      <h3>Error message</h3>
      <code><%= @object.error_message %></code>
    <% end %>

    <h3>Data</h3>
    <pre><%= JSON.pretty_generate @object.data %></pre>
  </div>

  <div class="col-5">
    <h3>In reply to</h3>
    <% if @object.in_reply_to %>
      <%= link_to @object.in_reply_to.guid, object_path(@object.in_reply_to) %></li>
    <% end %>

    <h3 class="mt-4">Attributed to</h3>
    <ul>
      <% @object.attributed_to.each do |object| %>
        <li><%= link_to object.guid, object_path(object) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3 class="mt-4">Attributions</h3>
    <table class="table align-middle">
      <tbody>
        <% @object.attributions.each do |object| %>
          <%= render 'row', object: object %>
        <% end %>
      </tbody>
    </table>

    <h3 class="mt-4">Announced</h3>
    <ul>
      <% @object.announced.limit(5).each do |announce| %>
        <li><%= link_to announce.guid, ap_object_path(announce) %></li>
      <% end %>
    </ul>

    <h3 class="mt-4">Replies</h3>
    <table class="table align-middle">
      <tbody>
        <% @object.replies.each do |object| %>
          <%= render 'row', object: object %>
        <% end %>
      </tbody>
    </table>

    <h3 class="mt-4">Followers</h3>
    <table class="table align-middle">
      <tbody>
        <% @object.followers_associations.each do |follow| %>
          <%= render 'activity_pub_ui/follows/row', follow: follow, object: follow.source_ap_object %>
        <% end %>
      </tbody>
    </table>

    <h3 class="mt-4">Following</h3>
    <table class="table align-middle">
      <tbody>
        <% @object.following_associations.each do |follow| %>
          <%= render 'activity_pub_ui/follows/row', follow: follow, object: follow.target_ap_object %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
