<div class="grid grid-cols-12 gap-10 h-screen">
  <div class="col-span-3 bg-gray-100 relative">
    <div class="p-6 sticky top-0">
      <div class="pl-3 mb-7">
        <h1 class="text-3xl font-extrabold"><%= helpers.current_user.activity_pub_object.name %></h1>
        <p class="text-gray-500">@<%= helpers.current_user.activity_pub_object.preferred_username %>@<%= ActivityPub.domain %></p>
      </div>

      <a class="flex items-center p-3 hover:bg-gray-50 cursor-pointer" href="<%= new_panel_object_path %>">
        <div class="mr-3">
          <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
        </div>
        Add Post
      </a>

      <ul class="text-gray-600 mb-10">
        <li>
          <%= link_to '/panel', class: 'flex items-center p-3 bg-gray-50 text-gray-900 font-semibold hover cursor-pointer' do %>
            <div class="mr-3">
              <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            </div>
            Dashboard
          <% end %>
        </li>

        <li>
          <a href="" class="flex items-center p-3 hover:bg-gray-50 cursor-pointer">
            <div class="mr-3">
              <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
            </div>
            Content
          </a>
        </li>

        <li>
          <%= link_to '/', class: 'flex items-center p-3 text-gray-700 hover:bg-gray-50 cursor-pointer' do %>
            <div class="mr-3">
              <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
            </div>
            Design
          <% end %>
        </li>

        <li>
          <%= link_to '/', class: 'flex items-center p-3 text-gray-700 hover:bg-gray-50 cursor-pointer' do %>
            <div class="mr-3">
              <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
            </div>
            Settings
          <% end %>
        </li>
      </ul>

      <div class="p-3">
        <p class="text-sm text-gray-500 mb-2">Use @user@domain.com or URL of a post to interact:</p>
        <input type="text" class="w-full px-3 py-2 bg-gray-50 border-b border-gray-200">
      </div>
    </div>
  </div>

  <div class="col-span-9 pt-4 pr-10">
    <%= right %>
  </div>
</div>
